#switch-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dark-hero {
    background: black !important;
    padding-bottom: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 0% 0% 2% 2%;
    max-width: 100%;
    height: auto;
}

.dark-hero p {
    padding-top: 20px;
    font-size: var(--small);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    color: #0d1b2a;
}

.dark-container {
    background: black !important;
}

.dark-container p {
    color: white !important;
}