/* Root Rules */

:root {
  /* Preferred Font Size Rules */
  --extra-extra-large: 72px;
  --extra-large: 56px;
  --large: 48px;
  --moderate: 40px;
  --medium: 32px;
  --small: 24px;
  --tiny: 16px;

  /*-Color Rules  */
  --black: #181616;
  --white: #fafafa;
}

/* Desktop Presets */

@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Domine", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans- serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  align-items: center;
  margin: 0 auto;
}


body {
  font-family: "Domine", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans- serif;
}

html {
  scroll-behavior: smooth;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}
p {
  color: #201e50;
}

a {
  text-decoration: none;
}


/*  Hero Styles */

.hero {
  background-image: url(../images/pexels-karolina-grabowska-4386289.jpg);
  padding-bottom: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 0% 0% 2% 2%;
  max-width: 100%;
  height: auto;
}

.hero h1 {
  text-align: center;
  color: #17221e;
  font-size: var(--medium);
  font-weight: 200;
  animation-duration: 1s;
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.container h1 {
  opacity: 0%;
  animation-duration: 1s;
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


.hero-desc {
  opacity: 0%;
  animation-duration: 1s;
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.25s;
}

a:visited {
  color: var(--black);
}

a:hover {
  color: #c4f1be;
}


.logo {
  padding: 1% 0 2% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.hero p {
  padding-top: 20px;
  font-size: var(--small);
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  color: #0d1b2a;
}

.arrow {
  transform: rotate(90deg);
}

/*  Instructions  */

.instructions {
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: var(--small);
  border-radius: 20px;
  background-color: #3cd3ad;
}

.instruction-title {
  justify-self: start;
  font-size: var(--small);
}
.instruction-list {
  font-size: var(--tiny);
  padding: 4%;
  line-height: 1.8;
}


/* Instruction 1 */

form {
  background-color: transparent;
  opacity: 0%;
  border: 1px solid black;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px lightblue;
}

.form-section {
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5.3%;
}

.pastSearch {
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 4px 4px lightblue;
}

.pastSearch:hover {
  color: #131214;
  font-weight: 500;
  background: -webkit-linear-gradient(left, #dedede, #85a187, #3cd3ad, white);
  background: -o-linear-gradient(left, #dedede, #85a187, #3cd3ad, white);
  background: -moz-linear-gradient(left, #dedede, #85a187, #3cd3ad, white);
  background: linear-gradient(left, #dedede, #85a187, #3cd3ad, white);
  box-shadow: 0 0 10px #3cd3ad, inset 0 0 5px #fff, inset 0 0 50px #85a187,
  inset 0 0 50px white;
}

input,
select {
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  border: none;
  height: 100%;
  outline: none;
  background-color: transparent;
}

input::after,
select::after {
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  border: none;
  height: 100%;
  outline: none;
  background-color: transparent;
}


/* Form Block*/

::placeholder {
  font-size: var(--tiny);
}

form p {
  font-size: 20px;
  text-transform: capitalize;
}

.q-a {
  display: flex;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 1px solid black;
}

.question {
  width: 45%;
  padding: 5px;
  border-left: 1px solid black;
}

.answer {
  border-left: 2px solid white;
  width: 55%;
}

.odd-row {
  background-color: #a2c3a4;
}


/* Animation Triggers */

@media (prefers-reduced-motion: no-preference) {
  .instructions-animation {
    animation-duration: 1s;
    animation-name: slideInRight;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
}

@keyframes slideInUp {
    from {
    transform: translateY(100%);
    opacity: 0%;
  }

  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0%;
  }

  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

/* Result Block */

#city-cost,
#personal-cost,
#personal-saving {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.sub1,
.sub2 {
  width: 50%;
}

#piechart_3d,
#donutChart {
  margin-left: 0%;
}

strong {
  font-size: var(--medium);
}

input:focus {
  outline: none;
  /* results */
}
#vacation {
  max-width: 200px;
}

.result {
  text-align: center;
  display: none;
}

/* Dark Mode Modifiers */
.dark-mode {
  background-color: #171b19;
  color: whitesmoke;
}

.dark-form {
  background-color: #a5dec9;
}

.resultDark {
  color: whitesmoke;
}

.resultTab {
  display: block;
}

.resultTab h1 {
  font-size: var(--medium);
}

.theme-toggle{
  margin-top: 30px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background-color: #181616;
}

.toggle-on{
  background-color: antiquewhite;
}

@media screen and (max-width: 1024px) {
  .instructions li{
    font-size: 20px;
  }

  form p{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero{
    background-position: bottom;
  }

  .hero p{
    font-size: 25px;
    width: 90%;
    color: #fafafa;
    padding-bottom: 8px;
  }

  .hero-desc{
    background-color: #8baa9eb8;

  }

  .instructions li{
    font-size: 24px;
  }

  .question p{
    font-size: 25px;
  }

    input, select{
      font-size: 19px;
    }
    
   g text{
      font-size: 18px;
    }
    svg{
      width: 100%;
    }

}

@media screen and (max-width: 425px) {

  .hero{
    background-position: bottom;
  }

  .hero p{
    font-size: 14px;
    color: #fafafa;
    padding-bottom: 8px;
  }

  .hero-desc{
    background-color: #8baa9eb8;

  }

  .instructions li{
    font-size: 12px;
  }

  .question p{
    font-size: 15px;
  }

    input, select{
      font-size: 12px;
    }

  }