/* Root Rules */

:root {
  /* Preferred Font Size Rules */
  --extra-extra-large: 72px;
  --extra-large: 56px;
  --large: 48px;
  --moderate: 40px;
  --medium: 32px;
  --small: 24px;
  --tiny: 16px;

  /*-Color Rules  */
  --black: #181616;
  --white: #fafafa;
}

/* Desktop Presets */

@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Domine", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans- serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 85%;
  align-items: center;
  margin: 0 auto;
}

.container h1 {
  opacity: 0%;
  animation-duration: 1s;
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

body {
  font-family: "Domine", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans- serif;
}

html {
  scroll-behavior: smooth;
}


.container h1 {
  opacity: 0%;
  animation-duration: 1s;
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.hero-desc {
  opacity: 0%;
  animation-duration: 1s;
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.25s;
}

a:visited {
  color: var(--black);
}

a:hover {
  color: #c4f1be;
}

/*  Hero Styles */

.hero {
  background-image: url(../images/pexels-karolina-grabowska-4386289.jpg);
  ;
  padding-bottom: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 0% 0% 2% 2%;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .instructions-animation {
    animation-duration: 1s;
    animation-name: slideInRight;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
}

@keyframes slideInUp {
    from {
    transform: translateY(100%);
    opacity: 0%;
  }

  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0%;
  }

  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}
p {
  color: #201e50;
}

/*  Hero Styles */

.hero {
  background-image: url(../images/pexels-karolina-grabowska-4386289.jpg);
  width: 100%;
  padding-bottom: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0% 0% 2% 2%;
}

.logo {
  padding: 1% 0 2% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #17221e;
  width: 30%;
  font-size: var(--medium);
  font-weight: 200;
}

.hero p {
  padding-top: 20px;
  font-size: var(--small);
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  color: #0d1b2a;
}


.instruction-title {
  justify-self: start;
  font-size: var(--small);
}
.instruction-list {
  font-size: var(--tiny);
  padding: 10%;
  line-height: 1.8;
  list-style-type: circle
}

.arrow {
  transform: rotate(90deg);
}

a {
  text-decoration: none;
}

/* Section 1 */

.form-section {
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5.3%;
}

.instructions {
  height: 50%;

  padding: 30px;
  font-size: var(--small);
  border-radius: 20px;
  background-color: #3cd3ad;
}

input,
select {
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  border: none;
  height: 100%;
  outline: none;
}

form {
 
  opacity: 0%;
  border: 1px solid black;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px lightblue;
}

/* Form Block*/

::placeholder {
  font-size: var(--tiny);
}

form p {
  font-size: 20px;
  text-transform: capitalize;
}

.q-a {
  display: flex;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 1px solid black;
}

.question {
  width: 45%;
  padding: 5px;
  border-left: 1px solid black;
}

.answer {
  border-left: 2px solid white;
  width: 55%;
}

.odd-row{
  background-color: #a2c3a4;
}

.result {
  padding-left: 50px;
}

#city-cost,
#personal-cost,
#personal-saving {
  width: 20vw;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}


.sub1,
.sub2 {
  width: 50%;
}

#piechart_3d,
#donutChart {
  margin-left: 0%;
}

strong {
  font-size: var(--medium);
}

input:focus {
  outline: none;
  /* results */
}
#vacation {
  max-width: 200px;
}

.result {
  text-align: center;
}

#map{
}
canvas {
  margin-right: 1000px;
}
/*for mobile tablet devices*/
/* @media only screen and (width: 820px) {
  .hero{
      padding-bottom: 70%;
      background-position: center; 
}.hero p{
  font-size: var(--medium);
  width: 95%;
  padding: 0;
  text-align: left;
}
} */
/*for mobile phone devices*/
/* @media only screen and (max-width: 390px) {
  form {
    width: 100%;}
    .instructions{
      width: 100%;}
      .form-section {
        display: block;
  } */
/*Dark-mode for mobile device*/

  /* body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
} */
body {
  background-color: var(--white);
  color: var(--text-color);
}


/* Media Query for Responsive  */

/* For Laptops Large and Laptop add a Flex direction wrap and set the width to instruction and form to 46%
  Set font to a smaller size if need be
*/

/* For Tablet and Mobile */
/* Set display type to blocks and set divs to width of 100%  
  Def adjust font size according to width
*/
















